body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;

    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    width: 90vmin;
    height: 90vmin;
    border: 4px solid white;
    display: block;
    margin: 0 auto;
}

.panel {
    margin-top: 20px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

input {
    padding: 10px;
}

#joystick {
    margin-top: 20px;
}

#joystick button {
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 30px;
    border: none;
    border-radius: 15px;
    background: #333;
    color: white;
}

#joystick button:active {
    background: #666;
}